<!doctype html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/logo.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="aboutImg" src="./images/weather.jpg">
            <p>This site was created by Gourav. It takes data from <a target="_blank" href="https://weatherstack.com">weatherstack.com</a> and <a target="_blank" href="https://positionstack.com">positionstack.com</a></p>
        </div>
        {{>footer}}
    </body>
</html>