<!doctype html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/logo.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>If you feel data is incorrect then feel free to mail weatherstack and positionstack people:)</p>
        </div>
        {{>footer}}
    </body>
</html>